/*css commands*/

body {
  width: 90%;
  margin: auto;
  background-color: -webkit-linear-gradient(90deg, rgb(222, 222, 222), rgb(145, 145, 145));
  background: linear-gradient(90deg, rgb(222, 222, 222), rgb(145, 145, 145));
  background-image: url(img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;

}
tr:nth-child(odd) {
  background-color: #FFFFFF;
}

p {
  font: serif;
  letter-spacing: 1px;
  color: #252525;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
}


blockquote {
  width: 45%;
  margin: auto;
  font-size: 160%;
  background-color: #DEDEDE;
  border-left: 3px  solid blue;
  padding: 80px 0px 80px 30px;

}
.farmer {
  border-left: 3px solid red;
}
.villagers {
  border-left: 3px solid blue;
}

header {
  background-color: yellow;
  position: absolute;
}


.bien {
  float: left;
  margin-top: -25px
}

.mal{
  float: left;
  margin-left: 40px;
}

.chat {
  float: left;
  margin: auto;
}

div.notification {
  position: relative;
  top: 0px
}

p {
  font-family: 'Open Sans', sans-serif;
}
